
# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Build outputs (si tu ajoutes un dossier build/dist plus tard)
dist/
build/

# Optional: coverage reports for tests
coverage/
